# Byte-compiled / optimized / DLL files
__pycache__/

# Rope project settings
.ropeproject

# Installing the package locally for development
*.egg-info

# Skaffold dir
.kpt-*
.swp

# Test output
unit-coverage.out