[MESSAGES CONTROL]

disable=
  broad-except,
  global-statement,
  missing-function-docstring,
  too-many-locals,

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=

